 h2.e360-page-header {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-left: 13px;

    font-size: 38px;
 }

 .e360-sidebar-btn {
    border-width: 0 0 0 5px;
    border-style: solid;
    font-size: 22px;
    padding: 3px 10px;
    margin: 5px 0;
    text-decoration: none;
    color: #607596;

 }

 .e360-sidebar-btn-text {

 }

 .e360-banner-reset {
   ￼ width: 100%;
￼    background-color: rgba(255, 255, 255, .46);
￼    margin-top: 300px;
￼    padding: 5px 0;
￼    height: 180px;
￼    padding-left: calc(50% - 473px);
￼    position: static;
 }






 .e360-row {
     font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
     margin: 60px 0;

     font-size: 1.2em;
 }

 .e360-aside {
     display: block;
     margin: 75px 0;
 }

 .e360-aside > div {
     background-color: #607596;
     width: 70%;
     height: 4px;
 }

 .e360-aside > h2 {
     font-size: 20pt;
     font-weight: lighter;
     margin: 20px 0px 20px 20px;
 }

 .e360-section {
     border: 2px solid #607596;
     padding: 20px 40px;
 }

 .e360-section-header {
     padding-bottom: 20px;
 }

 .e360-section-tryit {
   border-top: 6px solid #607596;
   border-bottom: 6px solid #607596;
   margin: 60px auto;
   width: 80%;
   text-align: center;
   background-color: #dbe3ef;

 }

 .e360-tryit {
   width: 100%;
   margin: 20px auto;
   text-decoration: none;

 }

 .e360-tryit p {
   margin: 35px 0;
   width: 60%;
   margin-left: auto;
   margin-right: auto;
   color: black;
   text-decoration: none;

 }

 .e360-btn-try {
   text-decoration: none;
   margin: auto;
   text-align: center;

 }

 .e360-spacer-icon {
   text-align: center;
   margin: 50 auto;
   height: 35px;
 }

 .e360-section h2 {
    margin: 10px;
    font-size: 30pt;
    font-weight: normal;
    display: inline-block;
 }

 .e360-section h2 > div {
     display: block;
     background-color: #607596;
     width: 90%;
     height: 4px;
     margin: 0 auto;
 }

 .e360-section p {
 }

.e360-image-banner {
    display: block;
    width: 100%;
    height: 800px;
    position: relative;
    background-size: cover;
    background-position: center center;
}

.e360-logo-banner {
    width: 100%;
    background-color: rgba(255, 255, 255, .46);
    margin-top: 300px;
    padding: 5px 0;
    height: 180px;
    padding-left: calc(50% - 473px);
    position: static;
}

.e360-logo-banner img {
    height: 95%;

    display: block;
}

.centered {
    margin: 0 auto;
}

.e360-footer {
    display: block;
    background-color: #c6c7c9;
    height: auto;
    margin-top: 40px;

}

.e360-footer > p {
    display: inline-block;
}

.e360-background {
    background-color: #f7f7f7;
    height: 100%;
}

.e360-container {
    box-shadow: 0 0px 4px 1px rgba(96,117,150,1);
    height: 100%;
    top: 75px;
    background-color: white;
}

.e360-nav {
    background-color: #607596;
    color: white;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    padding: 10px 0;
    z-index: 9999;
}

.e360-nav-home {
    background-color: transparent;
    box-shadow: none;
}

.e360-nav-logo {
    height: 58px;
    display: none;

}

.e360-nav-list {
    margin-top: 20px;
    display: inline-block;
    float: right;
}

.e360-nav li {
    display: inline-block;
    margin: 0 10px;
    padding: 0;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.e360-nav a {
    text-decoration: none;
    color: white;
}

.e360-btn {
    background-color: #607596;
    color: white;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    display: inline-block;
    border: 1px solid transparent;
    padding: 10px 20px;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

.e360-btn-lrg {
    font-size: 20px;
}

.e360-btn-block {
    display: block;
    width: 100%;
}

.e360-top-spacer {
    display: block;
    background-color: transparent;
    height: 100px;
}

.envi360-container {
    width: 65%;
    margin: 60px auto 0 auto;
}

.tilePicture {
    width: 400px;
    height: 400px;
}


.house-pic {
    display: block;
    height: 250px;
    width: 100%;
    background-size: cover;
}


.info-block {
    display: block;

    width: 100%;
    background-color: white;

}

.static-image-block {
    background-image: url(https://envision-it-360-chandler-childs.c9users.io/assets/Riparian-ecc4ca6889dfce8f7ac00b9c3f7593bad262feb06ca8659082223d1c90fa3836.jpg);
    display: block;
    width: 100%;
    padding: 20px 0 20px 0;
}

.section-text {
    display: block;
    width: 100%;
    padding: 20px 0 20px 0;
}

.block-title {
    padding: 40px 0 40px 0;
    font-size: 5.4em;
}

.parallax {
width: 100%;
position: relative;
background: #000000;
height: 600px;
background-size: cover;
background-position: center 200px;
//background-attachment: fixed;

}

.waterfront {
    background-image: url(https://envision-it-360-chandler-childs.c9users.io/assets/Riparian-ecc4ca6889dfce8f7ac00b9c3f7593bad262feb06ca8659082223d1c90fa3836.jpg);

}

.shingles {
    background-image: url(https://envision-it-360-chandler-childs.c9users.io/assets/Marketing-b6eac8e0e9e3cda070126ecb1e1436bbaf1b323096888fb157e553ab14333e35.jpg);

}

.phonebooth {
    background-image: url(https://envision-it-360-chandler-childs.c9users.io/assets/Contact%20us-a68f49fd44c99cc89d3980e5d2be44e41c330ea852aba120a3c41b9e8dd999d0.jpg);
    background-position: center 100px !important;
}

.home-image-block {
    height: 550px;

    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.home-section-title {
    font-family: 'Bree Serif', serif;
    color: white;
    font-size: 700%;
   text-shadow: 0px 1px 7px rgba(0, 0, 0, 1);

    padding: 200px 0;

    text-shadow: 0px 2px 3px #666;
    text-shadow: 0px 2px 1px #555, 0px -2px 1px #555, -2px 0px 2px #555;
    text-shadow: 0px 2px 1px #555, 0px -2px 1px #555, -2px 0px 2px #FFF;
    text-shadow: 1px -1px 1px #555, 1px 0px 1px #555, 1px -2px 1px #555, 2px 0px 1px #555;
}


.home-image-block
{
    background-position: center -200px;
    box-shadow: 0px 0px 8px 0px black;
}

.sticky {
    position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
}

.home-header {
    color: white;
    margin-top: 45px;
    padding: 100px 0 100px 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 700%;
    background-color: #7FBDFF;
}

.logo {
    width: 200px;
}

.header-img {
    width: 20%;
}


.home-footer {
     background: #7FBDFF;
     font-family: 'Montserrat', sans-serif;
     color: white;
     padding: 60px 0 60px 0;
     font-size: 30pt;
}

.footer-image img{
    width: 8%;

}

.marketing-image img {
    width: 70%;
}

.logo-text
{
        text-shadow: 1px 1px 0 #CCC, 2px 2px 0 #CCC, 3px 3px 0 #444, 4px 4px 0 #444, 5px 5px 0 #444, 6px 6px 0 #444, /* The Blur - optional */ 5px 5px 15px #999;
        text-shadow: 1px 1px 0 #5B4DB0, 2px 2px 0 #5B4DB0, 3px 3px 0 #5B4DB0, 4px 4px 0 #5B4DB0, 5px 5px 0 #5B4DB0, 6px 6px 0 #2F285A, /* The Blur - optional */ 5px 5px 15px #5B4DB0;
}
